<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理员登录-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="{% static '/WeAdmin/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static '/WeAdmin/static/css/font.css' %}">
	<link rel="stylesheet" href="{% static '/WeAdmin/static/css/weadmin.css' %}">
    <script src="{% static '/WeAdmin/lib/layui/layui.js' %}" charset="utf-8"></script>

</head>
<body class="login-bg">

    <div class="login">
        <div class="message">Admin -管理登录</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" >
             {% csrf_token %}
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input"  id="username" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" id="password">
            <hr class="hr15">
            <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit" onclick="save()" >
            <hr class="hr20" >
        </form>
        <div>
            	   <input type="checkbox" id="checkmy"> 记住我
            </div>
    </div>

    <!-- scripts -->
<script src=" {% static  '/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static '/js/jquery.cookie.js' %}"></script>
<script src="{% static '/js/login/login.js' %}"></script>
<script src="{% static '/WeAdmin/static/js/admin.js' %}"></script>

    <!-- 底部结束 -->
</body>
</html>